.header {
    padding: 25px 0;
}

.header__inner {
    display: flex;
    justify-content: center;
    position: relative;
}

@media (min-width: 768px) {
    .header__inner {
        justify-content: space-between;
    }
}

.header__logo {
    display: inline-flex;
    width: 110px;
    height: 32px;
}

.logo {
    width: 100%;
    
    fill: var(--black, #212429);
    stroke: var(--grey-4, #495057);
}

.header__title {
    margin: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    text-align: left;
}
