.toggler {
    display: inline-block;
}

.toggler__input {
    position: absolute;
    width: 0;
    height: 0;
    
    margin: 0;
    padding: 0;
    opacity: 0;

    cursor: pointer;
    overflow: visible;
}

.toggler__state {
    position: relative;

    cursor: pointer;
}
.toggler__state::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 0;

    width: 3.25rem;
    height: 1.75rem;

    border: 1px solid var(--grey-2, #DDE2E5);
    border-radius: 16px;
    box-sizing: border-box;
    
    transition: all .5s ease;
}

.toggler__label {
    display: inline-block;
    text-indent: 4rem !important;
    
    font-size: 16px;
    line-height: 26px;
    color: var(--grey-4, #495057);
}

.toggler__label::before,
.toggler__label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    display: block;
    width: 1.75rem;
    height: 1.75rem;

    border: 1px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;

    transition: left .5s ease;
    transform: scale(.8);
}
.toggler__label::after {
    background-color: var(--grey-2, #DDE2E5) !important;
}

.toggler__input:focus ~ .toggler__state .toggler__label {
    text-decoration: underline;
}

.toggler__input:checked ~ .toggler__state::before {
    background-color: var(--primary, #374FC7);
    border-color: var(--primary, #374FC7);
}
.toggler__input:checked ~ .toggler__state .toggler__label::before {
    opacity: 0;
}
.toggler__input:checked ~ .toggler__state .toggler__label::after {
    background-color: var(--white, #FFFFFF) !important;
    left: 1.5rem;
}

.toggler__input:disabled ~ .toggler__state {
    cursor: not-allowed;
}
.toggler__input:disabled ~ .toggler__state::before {
    background-color: var(--grey-2, #DDE2E5);
}
.toggler__input:disabled ~ .toggler__state .toggler__label {
    opacity: .5;
}
.toggler__input:disabled ~ .toggler__state .toggler__label::before, 
.toggler__input:disabled ~ .toggler__state .toggler__label::after {
    background-color: var(--grey-3, #ACB5BD) !important;
} 