@import '../fonts/fonts.css';

@import '../../components/header/index.css';
@import '../../components/main-section/index.css';
@import '../../components/footer/index.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey: #F9FAFC;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

main {
    /* Without flex for now */
    width: 100%;
    min-height: 100%;
    background-color: var(--white, #fff);
    color: var(--black, #212429);
}

main .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}