.preview {
    flex: 1;
    background-color: var(--grey, #F9FAFC);
    padding: 68px 0 204px 0;
}
.preview__box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

.preview__card {
    flex-basis: 350px;
}