.preview {
    flex: 1;
    background-color: var(--grey, #F9FAFC);
    padding: 68px 0 204px 0;
}
.preview__box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    display: inline-block;
    height: 367px;
    background-color: var(--white, #FFFFFF);;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}
.preview__card {
    flex-basis: 350px;
}
.card__inner {
    padding: 60px 24px 0;
}
.card__title {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    /* Black */

    color: #212429;

    margin: 50px 0 30px;
}